= form_for @question, html: { class: 'form', style: 'display: none;' }, remote: true do |f|
  .form__field
    = f.label :title
    = f.text_field :title, class: 'form__input'
  .form__field
    = f.label :content
    = f.text_area :content, class: 'form__input'
  = f.fields_for :attachments do |attachment|
    = render 'layouts/attachment_fields', f: attachment
  .actions
    = f.submit 'Update', class: 'button button_green'
