= form_for @question, html: { class: 'form' }, remote: @question.persisted? do |f|
  .form__field
    = f.label :title
    = f.text_field :title, class: 'form__input'
  .form__field
    = f.label :content
    = f.text_area :content, class: 'form__input'
  .actions
    = f.submit 'Save', class: 'button button_green'
