= content_tag_for :div, question do
  = vote_for question
  %h1= question.title
  %p= question.content
  = render question.attachments
  = render 'questions/edit_form'
  - if current_user && current_user.is_author?(question)
    .actions
      = button_tag 'Edit', class: 'button button_orange button_question-edit'
      = link_to 'Delete', question, method: :delete, class: 'button button_red'
