%h1 New question
= form_for @question, html: { class: 'form' } do |f|
  .form__field
    = f.label :title
    = f.text_field :title, class: 'form__input'
  .form__field
    = f.label :content
    = f.text_area :content, class: 'form__input'
  = f.fields_for :attachments, @question.attachments.build do |attachment|
    = render 'layouts/attachment_fields', f: attachment
  .actions
    = link_to_add_association 'Add attachment', f, :attachments, partial: 'layouts/attachment_fields', class: 'button button_blue'
    = f.submit 'Save', class: 'button button_green'
