= render @question
.answers
  = render @question.answers
- if user_signed_in?
  = form_for [@question, @answer], remote: true, html: { class: 'form' } do |f|
    .form__field
      = f.label :content
      = f.text_area :content, class: 'form__input'
    .actions
      = link_to_add_association 'Add attachment', f, :attachments, partial: 'layouts/attachment_fields', class: 'button button_blue'
      = f.submit 'Reply', class: 'button button_green'
- else
  .actions
    = link_to 'Sign in to answer', new_user_session_path, rel: 'nofollow', class: 'button button_green'
