.question
  %h1.question__title
    = @question.title
  %p.question__content
    = @question.content
  .question__edit(style="display: none;")
    = render 'form'
  = render partial: 'questions/actions', locals: { question: @question }
  .question__answers
    = render @question.answers
- if user_signed_in?
  = form_for [@question, @answer], remote: true, html: { class: 'form' } do |f|
    .form__field
      = f.label :content
      = f.text_area :content, class: 'form__input'
    .actions
      = f.submit 'Reply', class: 'button button_green'
- else
  .actions
    = link_to 'Sign in to answer the question', new_user_session_path, rel: 'nofollow', class: 'button button_green'
