.question
  %h1.question__title
    = @question.title
  %p.question__content
    = @question.content
  .question__answers
    = render @question.answers
- if user_signed_in?
  %b
    New answer
  = render 'answers/form'
- else
  = link_to 'Sign in to answer the question', new_user_session_path, rel: 'nofollow'
