- if answer.persisted?
  = content_tag_for :div, answer, class: answer.best ? 'answer_best' : '' do
    %p= answer.content
    = render answer.attachments
    = render partial: 'answers/edit_form', locals: { answer: answer }
    = render partial: 'answers/actions', locals: { answer: answer }
